*{
    transition: all ease-in-out 0.3s;
    font-family: 'Google-Sans', sans-serif;
}

article{
    display: flex;
    justify-content: space-around;
}

i{
    color: var(--text-color);
}

button:active{
    transform: scale(0.9);
}

.tipoA{
    font-size:  10vmin;

}

.tipoB{
    font-size:  10vmin;

}

.general{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--grid-rows);
    background-color: var(--bg-color);
    position: absolute;
    overflow: auto;
    scrollbar-width: none;
    gap: 5%;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
}

.modo{
    position: fixed;
    width: 10vw;
    height: 5vh;
    margin: 1% 1%;
    border-style: none;
    border-radius: 1.5vh;
    box-shadow: var(--box-shadow);
    margin-bottom: 4%;
    background-color: var(--bg-color);
    font-size: 7vw;
}

.titulo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    height: min-content;
    font-size: 5vw;
    color: var(--text-color);
}

.trabajadores{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--grid-rows);
    gap: 2%;
    margin: 0 3%;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1vw;
    border-radius: 2vh;
    box-shadow: var(--box-shadow);
}

.trabajadores h2{
    font-size: 6vw;
    color: var(--text-color);
}

.tarjetas{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: max-content;
    max-width: 100%;
    max-height: 100%;
    row-gap:5%;
    justify-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.tarjeta{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 20% min-content 20%;
    grid-auto-rows: auto auto;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 3%;
    padding: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-style: solid;
    border-radius: 1.5vh;
    box-shadow: var(--box-shadow);
    opacity: 0;
    transform: scale(0);
    border-color: var(--border-color);
}

.tarjeta.oculta {
    opacity: 0;
    transform: scale(0.9);
    
}

.tarjeta.vista{
    opacity: 1;
    transform: scale(1);
}

.tarjeta.eliminada{
    display: none;
}

.tarjeta button{
    border-style: solid;
    border-radius: 1.5vh;
    border-color: transparent;
    background-color: var(--bg-color);
}

.tarjeta input{
    height: 7vmin;
    width: 45vw;
    border-radius: 2vh;
    border-style: solid;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.tarjeta input:focus{
    border-color: #007BFF;
    outline: none;
}

.tarjeta input::placeholder{
    color: var(--placeholder-color);
}

.tarjeta input:disabled{
    background-color: var(--disabled-bg-color);
    border-color: var(--disabled-border-color);
    color: var(--disabled-text-color);
}

.botonAñadir{
    display: var(--display-state);
    border-style: none;
    border-radius: 1.5vh;
    margin-bottom: 4%;
    margin-top: 0%;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
}

.costo{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    margin: 0 3%;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1vw;
    border-radius: 2vh;
    box-shadow: var(--box-shadow);
}

.costo h2{
    font-size: 6vw;
    color: var(--text-color);
}
.costo h3{
    font-size: 3vh;
    color: var(--text-color);
}

.diessel{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--grid-rows);
    margin: 0 3%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1vw;
    border-radius: 2vh;
    box-shadow: var(--box-shadow);
}

.costoDiessel{
    display: var(--display-state);
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 5%;
}

.costoLitro{
    display: var(--display-state);
    justify-content: space-between;
    margin: 0 3%;
}

.diessel h2{
    font-size: 6vw;
    color: var(--text-color);
}

.diessel h3{
    font-size: 2.3vh;
    color: var(--text-color);
}

.diessel button{
    border-style: solid;
    border-radius: 1.5vh;
    border-color: transparent;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    font-size: 9vw;
}

.diessel input{
    height: 7vmin;
    width: 45vw;
    border-radius: 2vh;
    border-style: solid;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 5vw;
}

.diessel input:focus{
    border-color: #007BFF;
    outline: none;
}

.diessel input::placeholder{
    color: var(--placeholder-color);
    font-size: 4vw;
}







@font-face {
    font-family: 'Google-Sans';
    src:url('fuentes/google-sans/ProductSans-Black.ttf') format('opentype'),
        url("fuentes/google-sans/ProductSans-Bold.ttf") format("opentype"),
        url("fuentes/google-sans/ProductSans-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}